*{
  margin: 0;
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.container{
  width: 57%;
  height: auto;
  background-color: rgba(34, 41, 49, 0.5); 

  display: flex;
  flex-direction: row;
  border-radius: 30px;
 
  
}
.bg{
  text-align: center;

  min-width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  
}

.weather{
  min-width: 60%;
  display: flex;
  flex-direction: column;

  
  
}
.search{
  min-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}
.search input {
  height: 70%;
  width: 70%;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  text-align: left;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.2s ease-in;

}
.search input:focus{
  transform: scale(1,1.1);
}
.search .icon{
  background-color: #818bd3;
  height: 70%;
}
.search .icon:hover {
  cursor: pointer;
}
img{
  width: 150px;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.date{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.date h1{
  font-size: 50px;
  font-weight: 900;
}
.date p {
  font-weight: 300;
  font-size: 20px;
}
.image h2{
  font-size: 55px;
  font-weight: 800;
}

.info{
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;

}
.infotext {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
}
.infotext p {
  font-size: 10px;
}
.infotext img{
  width: 40px;
  background-color: white;
  border-radius: 10px;
}

.dataweather{
  display: flex;
  flex-direction: column;
  

}
.singledata{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 20px;

}
.weather {
  position: relative;
  
}



#F {
  position: absolute;
  height: auto;
  width: 50px;
  top: 20px;/* Position at the top */
  right:-49px; /* Position at the right */
  
  background-color: #818bd3 ;
  display: flex;
  justify-content: center;
  color: black; /* Text color */
  padding: 10px;
  font-size: 28px;
  transition: 0.5s all ease-in-out;
}
#F:hover{
  background-color:#222931 ;
  color: white;
  border: 1px solid #818bd3;
  border-left: none;
  cursor: pointer;
}
.forcaste{
  height: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.dayicon{
  color:white;
  width: 40px;
}

.days{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
}
.date{
  color: black;
}

.body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media (max-width:1050px) {
  .container{
    width: 65%;
  }
}

@media (max-width:900px){
  .container{
    min-height: 90%;
    flex-direction: column;
  }
}

@media (max-width:470px){
  .container{
    min-width: 96%;
  }
}
@media (max-width:380px){
  .image h2{
    font-size: 30px;
  }
}